.truc {
  background-image: url("header.jpg");
}

#navigation {
  margin:0;
}

#blue {
  background-color: blue;
  padding: 3px;
}

#container {
  padding: 5em;
}

#grey {
  background-color: #F6F6F6;
}

#fondnoir {
  background-color: black;
  color: white;
  padding: 3em;
}

#baspage {
  background-color: #6F7171;
  color: #C3CFCD;
}
